body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(121, 107, 107);
  width: 85%;
  border-radius: 1rem;
}

.description {
  padding: 1rem;
  text-align: center;
}

h1 {
  color: darkorange;
  font-weight: 900;
  padding: 1rem;
  text-align: center;
  padding-bottom: 50px;
}

input {
  width: 450px;
  height: 35px;
  margin: 1rem;
  border: 1px solid lightblue;
  box-shadow: none;
  background-color: lightblue;
  font-weight: bold;
}
.info {
  padding: 1rem;
  margin: 0;
  text-align: center;
}
.about {
  padding: 1rem;
  margin: 0;
  text-align: center;
  color: rgb(202, 169, 125);
}

@media screen and (max-width: 768px) {
  input {
    width: 85%;
  }
}
